<head>
    <link rel="stylesheet" href="/todo.css" type="text/css" />
   
</head>

<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>A simple todo list app built with node</h2>
    </header>

    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here...">
    </section>

    <ul id="list">
    </ul>
 
    <script type="text/javascript" src="/main.js"></script>
</body>
